p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.head-text {
  font-weight: bold;
  color: black;
}

.sub-text {
  color: rgb(129, 109, 109);
  line-height: 1px;
  font-size: 27px;
}

.main-text {
  font-size: 22px;
  width: 340px;
  padding: 5px 0;
}

.start-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 18px;
  border-radius: 7px;
}



