.principal {
  display: flex;
  box-shadow: 1px 1px 5px black;
  width: 400px;
  border-radius: 50px;
  padding: 8px 6px;

}

.imagem {
  width: 60px;
  object-fit: contain;
}

.user-message {
  padding: 20px 120px 20px 0.5px;
  font-size: 14px;
    
}

.tweet-button {
  background-color: #1DA1F2;
  color: white;
  font-weight: bold;
  padding: 8px 18px;
  border: none;
  font-size: 18px;
  border-radius: 25px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.15s;
}

.tweet-button:hover {
  opacity: 0.8;
}

.tweet-button:active {
  opacity: 0.9;
}