.d1 {
  background-color: red;
}

.d2 {
  background-color: blue;
}

.d3{
  background-color: red;
}

.d4 {
  background-color: green;
}

.d5 {
  background-color: yellow;
}

.d6{
  background-color: brown;
}

.main-div {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  height: 50px;
}

.main-div2{
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  height: 50px;
}