.teste1 {
  display: block;
  border: solid 1px black;
  padding: 0px 50px 20px 10px;
  width: 250px;
}


.teste2 {
  font-family: Bebas Neue;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(65, 11, 65);
  color: orange;
  padding: 10px 160px 10px 15px;
  width: 300px;
  margin-top: 20px;

}

.texto2 {
  font-weight: normal;
  width: 370px;
  color: red;
}


