* {
  margin: 0;
  padding: 0;
}

:root {
  --cor1: red;
}

body {
  background-color: red;
  display: flex;
  justify-content: center;
}

div {
  border-radius: 20px;
  background-color: var(--cor1);
  color: white;
  width: 800px;
  text-align: center;
  margin: 20px;
}

div p {
  width: 300px;
  margin: auto;
  padding: 25px;
}

h1 {
  background-color: var(--cor1);
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  }