header {
  text-align: center;
  font: 3em 'Verdana', sans-serif;
  display: flex;
  justify-content: center;
}

header h1{
  text-shadow: 5px 5px 1px blue;
  border: 5px solid black;
  padding: 10px 100px;
  background-color: orange;
  border-radius: 150px 0;
  transition: 0.15s;
}

header h1:hover {
  text-shadow: 5px 5px 1px red;
  background-color: #824AA5;
  color: white;
}