* {
  padding: 0;
  margin : 0;
  box-sizing: border-box;
  font-family: "Sriracha", serif;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header p, h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p a {
  color: white;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  padding: 5px;
}

main {
  margin: 150px 0 0 0;
}

main p {
  white-space: pre-line;
  font-size: clamp(1.5em, 2.3vw, 4em);
  margin-left: 30px;
}

article {
  margin-bottom: 50px;
}

.pt2 {
  background: black url('../2/images/background001.jpg') center center no-repeat fixed;
  background-size: cover;
  padding: 25px;
}

.pt2 p {
  display: inline-block;
  color: white;
  background-color: rgba(255, 255, 255, 0.062);
  padding: 12px;
}

.pt4 {
  background: black url('../2/images/background002.jpg') center center no-repeat fixed;
  background-size: cover;
  padding: 25px;
}

.pt4 p {
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.445);
  padding: 12px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 30px;
}